In [1]:
import pandas as pd
import numpy as np

In [3]:
installs=pd.read_csv("installs.csv")
revenue=pd.read_csv("revenue.csv")
spend=pd.read_csv("spend.csv")

In [16]:
print(installs.columns.values)
print(revenue.columns.values)
print(spend.columns.values)

['country' 'country_id' 'user_install_id' 'client' 'year' 'month' 'day']
['country' 'client' 'year' 'month' 'day' 'user_install_id' 'revenue']
['country_id' 'client' 'year' 'month' 'day' 'spend']

In [8]:
dict(zip(installs.country,installs.country_id))

{'RU': 23, 'US': 29, 'GB': 10, 'BR': 4, 'DE': 7, 'FR': 9}

In [14]:
installs.head(1)
#country details user details client details date details revenue spend

,country,country_id,user_install_id,client,year,month,day
0,RU,23,1ec78a0d-c9c1-4f22-acd5-494d9a06209d,fruit_battle,2021,12,2

In [10]:
revenue.head(1)

,country,client,year,month,day,user_install_id,revenue
0,BR,fruit_battle,2021,12,23,6ddf67b9-91e8-4379-9ef9-614f6cf6e712,-0.00503

In [11]:
spend.head(1)

   country_id        client  year  month  day  spend
0           9  fruit_battle  2021     12   15  4.841